<!DOCTYPE html>
<html>

<head>
  <title>EF Labeling</title>
</head>

<body>
  <select name="users" onchange="location=this.options[this.selectedIndex].value;">
    <option value="/">--Select User--</option>
    <option value="/BH" {% if user == "BH"%} selected {% endif %}>BH</option>
    <option value="/DD" {% if user == "DD"%} selected {% endif %}>DD</option>
  </select>
  {% if user != "" %}
  <h1>Videos</h1>
  <ul>
    {% for video in videos %}
    <li><a href="/{{ user }}/{{ video }}">{{ loop.index }} {{ video }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</body>
</html>

